a {
    display: block;
    color: chartreuse;
    width: 200px;
    border: 1px solid rgb(224, 41, 41);
    margin: 10px;
    text-align: center;
    background-color: burlywood;
    line-height: 30px;
}

a:link {
    color:red;
}

a:visited {
    color: rgb(100, 32, 157)
}

a:hover {
    color:darkgreen;
    background-color: white;
    box-shadow: 2px 2px 10px lightgray;
}

a:active {
    color: black;
    background-color: yellow;
}

.anterior {
    float:left;
}

.siguiente {
    float: right;
}
