* {
    margin: 0px;
}

.container {
    display: grid;
    grid-template: 150px 1fr 50px / 150px 1fr;
    grid-template-areas: "header header" "left content" "footer footer";
    height: 100vh;
}

.header {
    grid-area: header;
}

.left {
    grid-area: left;
}

.content {
    grid-area: content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.footer {
    grid-area: footer;
}

.item {
    border: 1px solid rgb(195, 207, 22);
}

.subitem {
    border: 1px solid black;
    padding: 10px;
    height: 50px;
    width: 100px;
    text-align: center;
}